@(title: Html, nav: app.models.MenuItem.MenuItem = app.models.MenuItem.Home)(content: Html)

@generic.masterTemplate(title, renderMenu(nav)) { @content }

@renderMenu(nav: app.models.MenuItem.MenuItem = app.models.MenuItem.Home) = {
	 <div id="menu">
		<ul>
			<li class="@("active".when(nav == app.models.MenuItem.Home))"><a href='@{routes.LandingController.index()}' accesskey="1" title="">Homepage</a></li>
			<li class="@("active".when(nav == app.models.MenuItem.Interests))"><a href="#" accesskey="2" title="">Interests</a></li>
			<li class="@("active".when(nav == app.models.MenuItem.Settings))"><a href='@{routes.AboutUsController.index()}' accesskey="3" title="">Settings</a></li>
		</ul>
	</div>
}
